<!-- IF FL_ENABLE -->
<!-- footerlinks created 2016 Joyce&Luna by phpBB-Style-Design.de ( https://phpbb-style-design.de ) -->
<br>
<div class="footer-links">
	<!-- IF FL_ENABLE_B1 -->
	<div class="panel bg3">
		<ul>
			<!-- IF FL_TITLE_CAT1 --><li class="title">{FL_TITLE_CAT1}</li><!-- ELSE --><li></li><!-- ENDIF -->
			<!-- BEGIN fl_links1 --><li><a title="{fl_links1.FL_LINK1}" href="{fl_links1.FL_LINK1}"<!-- IF FL_EXT_LINK -->  onclick="window.open(this.href);return false;" rel="nofollow"<!-- ENDIF-->><!-- IF fl_links1.FL_LINK_TEXT1 -->{fl_links1.FL_LINK_TEXT1}<!-- ELSE -->{fl_links1.FL_LINK1}<!-- ENDIF--></a></li><!-- END fl_links1 -->
		</ul>
	</div>
	<!-- ENDIF -->
	<!-- IF FL_ENABLE_B2 -->
	<div class="panel bg3">
		<ul>
			<!-- IF FL_TITLE_CAT2 --><li class="title">{FL_TITLE_CAT2}</li><!-- ELSE --><li></li><!-- ENDIF -->
			<!-- BEGIN fl_links2 --><li><a title="{fl_links2.FL_LINK2}" href="{fl_links2.FL_LINK2}"<!-- IF FL_EXT_LINK -->  onclick="window.open(this.href);return false;" rel="nofollow"<!-- ENDIF-->><!-- IF fl_links2.FL_LINK_TEXT2 -->{fl_links2.FL_LINK_TEXT2}<!-- ELSE -->{fl_links2.FL_LINK2}<!-- ENDIF--></a></li><!-- END fl_links2 -->
		</ul>
	</div>
	<!-- ENDIF -->
	<!-- IF FL_ENABLE_B3 -->
	<div class="panel bg3">
		<ul>
			<!-- IF FL_TITLE_CAT3 --><li class="title">{FL_TITLE_CAT3}</li><!-- ELSE --><li></li><!-- ENDIF -->
			<!-- BEGIN fl_links3 --><li><a title="{fl_links3.FL_LINK3}" href="{fl_links3.FL_LINK3}"<!-- IF FL_EXT_LINK -->  onclick="window.open(this.href);return false;" rel="nofollow"<!-- ENDIF-->><!-- IF fl_links3.FL_LINK_TEXT3 -->{fl_links3.FL_LINK_TEXT3}<!-- ELSE -->{fl_links3.FL_LINK3}<!-- ENDIF--></a></li><!-- END fl_links3 -->
		</ul>
	</div>
	<!-- ENDIF -->
</div>
<br>
<!-- ENDIF -->
