<!-- footerlinks created 2016 Joyce&Luna by phpBB-Style-Design.de ( https://phpbb-style-design.de ) -->

<br>
<div class="footer-links">
	<div class="panel bg3">
		<ul>
		<li><h2>{L_FRIENDSLINK}</h2></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		</ul>
	</div>
<div class="panel bg3">
	<ul>
		<li><h2>{L_ADVERTISINGLINK}</h2></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="https://phpbb-style-design.de">phpBB Style Design</a></li>
	</ul>
	</div>
<div class="panel bg3">
	<ul>
		<li><h2>{L_SURFTIPPLINK}</h2></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="https://www.phpbb.de/community/">phpBB Support German</a></li>
		<li><a href="#link">Link</a></li>
		<li><a href="#link">Link</a></li>
	</ul>
</div>
</div>
<br>