/* footerlinks for phpBB 3.1 by Joyce&Luna http://phpBB-Style-Design.de
------------------------------------------------------------------- */

.footer-links {
	display: flex;
	justify-content: center;
}

.title {
	margin-bottom: 0.3em;
	padding-bottom: 0.3em;
}

.footer-links ul li:first-child {
	border-bottom: 1px solid #cccccc;
	color: #3F3F3F;
	font-size: 12px;
	font-weight: bold;
}

div.footer-links div.panel {
	width: 300px;
	margin: 0 25px;
	align-self: flex-start;
	box-shadow: 0 -1px 4px -2px rgba(2, 2, 2, 0.7);
}

div.footer-links ul {
	list-style: none;
}

div.footer-links li:first-child {
	font-weight: bold;
}

.content h2, .panel h2 {
	border-bottom-color: #cccccc;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.3em;
	padding-bottom: 0.3em;
}

@media screen and (max-width: 768px) {
.footer-links {
	flex-direction: column;
	align-items: center;
	}
  
div.footer-links div.panel {
	width: 300px;
	margin: 5px 25px;
}

div.footer-links div.panel {
	width: 300px;
	margin: 5px 25px;
	align-self: center;
}
}