/* footerlinks for phpBB 3.2.x by Joyce&Luna http://phpBB-Style-Design.de
------------------------------------------------------------------- */

.footer-links {
	display: flex;
	justify-content: center;
}

div.footer-links div.panel {
	width: 300px;
	margin: 0 25px;
}

.footer-links ul li:first-child {
	border-bottom: 1px solid #cccccc;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.1em;
	padding-bottom: 0.5em;
}

div.footer-links ul {
	list-style: none;
}

div.footer-links li:first-child {
	font-weight: bold;
}

.content h2, .panel h2 {
	border-bottom-color: #cccccc;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.1em;
	padding-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
.footer-links {
	flex-direction: column;
	align-items: center;
	}
  
div.footer-links div.panel {
	width: 300px;
	margin: 5px 25px;
}
}
